*{
    border-radius: 10px;
}
body{
    background: gray;
}
.header, .desc{
    height: 70px;
    background: yellow;
}
.test_block{
    margin-top: 50px;
    background: red;
    width: 50%;
    height: 600px;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
}
.roma_test{
    display: block;
    position: relative;
    top: -100px;
    left: 80px;
}
.roma_test--blur{
    width: 60%;
    height: 60%;
    filter:blur(5px);
    top: 200px;
    left: -20px;
}
.desc{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
}
.header_shadow, .header_text{
    position: absolute;
}

.header_shadow{
    z-index: 1;
    color: green;
    top: 5px;
    left: 5px;
    filter:blur(2px);
    font-size: 32px;
}